#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    width: 50%;
}

form {
    max-width: 400px;
    margin: auto;
    padding-top: 40px;
}

#search-bar {
    display: block;
    padding-right: 28px;
    padding-left: 28px;
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    border-radius: 50px;
    border: .5px solid gray;
    background-image: url(mag.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 12px 12px;
}
